@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

::view-transition-group(header) {
  @apply z-10;
}

button[data-sorting-field='active']::after {
  content: '';
  @apply absolute left-0 top-0 -z-10 size-full rounded-md bg-blue-700;
  view-transition-name: sorting-field-indicator;
}

::view-transition-new(sorting-field-indicator),
::view-transition-old(sorting-field-indicator) {
  @apply absolute left-0 top-0 -z-10 size-full;
}

header,
header::after {
  animation: header-appear linear forwards;
  animation-timeline: scroll(root block);
  animation-range: 15vh 25vh;
}

header::after {
  --header-after-gradient: linear-gradient(to bottom, rgb(255 255 255 / 0.6), rgb(255 255 255 / 0.6), transparent);
  content: '';
  animation-name: header-after-appear;
  @apply absolute -bottom-full left-0 -z-10 h-0 w-full;
  background: var(--header-after-gradient);
}

@media (prefers-color-scheme: dark) {
  header::after {
    --header-after-gradient: linear-gradient(to bottom, #242424cc, #242424cc, transparent);
  }
}

@keyframes header-appear {
  to {
    @apply backdrop-blur-sm;
  }
}
@keyframes header-after-appear {
  to {
    @apply h-full opacity-100;
  }
}

.animate-appear {
  @apply opacity-0;
  animation: appear 0.3s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
